* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }


body {
   background-image: linear-gradient(90deg, rgba(247, 202, 201, 1) 0%, rgba(145, 168, 208, 1) 100%);
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  cursor: url("tiger.cur.png"), auto;
}


.header-n {
  text-align: center
  margin-top: 20px;
}


.logo-title {
  display: inline-flex;  
  align-items: center;  
  gap: 10px;            
}


.logo-title img {
  width: 55px;
  height: auto;
}


.logo-title h1 {
  margin: 0;
  animation: colorChange 5s infinite alternate;
  text-shadow:
    0 0 5px #000,
    0 0 10px #fff,
    0 0 15px #790202;
}


@keyframes colorChange {
 0% { color: #ffffff; }
 25% { color: #91a8d0; }
 50% { color: #f7cac9; }
 75% { color: #790202; }
 100% { color: white; }
}


.header-n h3 {
  margin-top: 5px;
}


footer {
   text-align: center;
}


img {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   margin-bottom: 5%;
   width: 75%;
   aspect-ratio: 1 / 1;
   object-fit:cover;
   display:block;
}


.card-n {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    max-width: 1000px;
    gap: 10px;
}


.seventeen-music{
    width: 300px;
    background-color: rosybrown;
   padding: 5px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: auto;
   margin-right: auto;
   float: center;
}


.message {
   background-color: rosybrown;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin-left: auto;
   margin-right: auto;
   float: center;
   text-align: center;
   width: 300px;
 
}


audio {
   width: 90%;
   max-width:500px;
}


h2 {
   margin-bottom: 5%;
}


p {
   font-size : 75%;
}
