* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}




body {
   background-image: linear-gradient(0deg, rgba(224, 240, 254) 0%, rgba(27, 144, 248) 50%);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
   cursor: url("tiger.cur.png"), auto;
}




.card-kin {
    width: 350px;
    background-color: #ddeefe;
   padding: 5px;
   border-radius: 15px;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
   margin-left: auto;
   margin-right: auto;
   margin-top: 20%;
   margin-bottom: 15%;
   float: center;
}




.card-kin h2{
    color: #0C4A82;
    margin-bottom: 20px;
}



img {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   margin-bottom: 5%;
   width: 100px;
   aspect-ratio: 1 / 1;
   object-fit:cover;
   display:block;
}




label {
    text-align: left;
    display: block;
    margin: 8px 20px 0;
    font-weight: 700;
    color: #003f85;
}




input{
    width: 90%;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 8px;
    outline: none;
}




input:focus{
    border-color: #0C4A82;
}




button {
    width: 90%;
    padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
    border-radius: 10px;
    outline: none;
	background-color: #007bff;
    color: white;
  	font-size: 14px;
}




